.arrow {
    position:relative;
   box-sizing: border-box;

}


.Up {
    position: absolute;
    top:-3px;
    left: -7px;
    width: 12px;
    height: 12px;
    border-top: 6px solid #dbdbdb;
    border-right: 6px solid #dbdbdb;
    border-radius: 4px;
    transform: rotate(-45deg)
}

.Down {
    position: absolute;
    border-radius: 4px;
    top:3px;
    left:-7px;
    width: 12px;
    height: 12px;
    border-top: 6px solid #dbdbdb;
    border-right: 6px solid #dbdbdb;
    transform: rotate(135deg)
}
.stick {

    background-color: #dbdbdb;
    border-radius: 4px;
    width:5px;
    height:20px;
    z-index: 10;
}