.tickerName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:3px;
    margin-left:8px;
    width:20%;
}
.tickerName div {
    font-size: 20px;
    margin-top: 4px;
}

.tickerName  h3  {
    margin-top: 8px;
    background: #4c4c4c;
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #111111 60%, #000000 60%, #000000 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#111111 60%,#000000 60%,#000000 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#111111 60%,#000000 60%,#000000 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

    box-sizing: border-box;
    width: max-content;
    padding:7px;
    border-radius: 3px;
    border: 1px solid #00cfcf;
    color: #d6e23a;
}

